@model IEnumerable<WebApplication1.Models.GuestResponse>

@{
    Layout = null;
}

<!DOCTYPE html>
<html>
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Responses</title>
        <link rel="stylesheet" href="/lib/bootstrap/dist/css/bootstrap.css" />
    </head>
    <body>
        <div class="text-center p-2">
            <h2 class="text-center">
                Here is the list of people attending the party
            </h2>
            <table class="table table-bordered table-striped table-sm"> 
                <thead>
                    <tr>
                        <th>Name</th>
                        <th>Email</th>
                        <th>Phone</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (WebApplication1.Models.GuestResponse response in Model!)
                    {
                        <tr>
                            <td>@response.Name</td>
                            <td>@response.Email</td>
                            <td>@response.Phone</td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </body>
</html>